.background-1{
    background-color: #1C1B57;
}

.navbar{
    background:none;
    height:0.5rem ;
}



/**cta section*/
.cta-padding{
    padding-bottom: 0.1rem;
}



.container{
    justify-content: space-between;
}


/* media queries*/



/* at desktop*/
@media screen and (min-width: 1024px) { 
    .text-white{
        color:white;
    }

    .ml{
        margin-left:18rem;
    }
}
@media screen and (max-width:300px) and (max-width:768px)  {

    .container{
        text-align: center;
    }
}

/*services*/
.card-centered{
    justify-content: center;
}
 .services-background{
     background-color: #F9F8FB;
 }
 .services-background h3{
     color: #252467;
 }
 
 .purple{
   color:#252467;
 }


 /* start building your financial future*/
 .ml2{
     margin-left:8rem;
 }

 .background-2{
     background-color:#EEEDF2;
 }

 .border-left{
     border-left:1px solid#252467;
     
 }

 video{
     height: 100%;
     width: 100%;
    object-fit: cover;
    overflow: hidden;
 }
 .border-left p{
    margin-left: 39px;
    color: #252467;
 }
 .mlp{
     margin-left: 39px;
     color: #252467;
 }

 .number-line{
    margin-bottom: -35px;
    margin-left: -9px;
}
 
.column h3{
     margin-bottom: 5px;
     color: #252467;
}

 .column h4{
     color: #252467;
     margin-bottom:9px;
     margin-left: 39px;
 }
 
